[submodule "www/projects/security/kringlecon20"]
	path = www/projects/security/kringlecon20
	url = git@github.com:keiferc/kringlecon20.git
[submodule "www/build/submodules/security/ctfs/kringlecon3"]
	path = www/build/submodules/security/ctfs/kringlecon3
	url = git@github.com:keiferc/kringlecon3.git
[submodule "www/submodules/kringlecon3"]
	path = www/submodules/kringlecon3
	url = git@github.com:keiferc/kringlecon3.git
